[2020-12-22 17:31] betaboon opened #1 "initial development feedback"
This issue is the place to give me feedback on the initial implementation

[2020-12-22 19:01] tunip commented on #1
First, thanks for your variant of custom implementation.

I have a ac2889/10 air purifier and could use it with your implementation.

<img width="404" alt="Bildschirmfoto 2020-12-22 um 19 58 23" src="https://user-images.githubusercontent.com/11404472/102923582-46477680-4490-11eb-92c3-ac3029ab612b.png">

Is in the future planed to also control (mode, speed) the air purifier?

[2020-12-22 19:08] tunip commented on #1
Also have to change from `platform: philips-airpurifier` to `platform: philips_airpurifier`. Otherwise the platform is unknown.

[2020-12-22 20:14] tunip commented on #1
After 1 hour test run, can't switch off the air purifier anymore (switch in HA goes back to ON).

[2020-12-22 22:27] betaboon commented on #1
@tunip I'm planning on implementing the control-parts in the next couple of days.
i just noticed the same thing with turn-on/off not working anymore after a while. I'm trying to figure out why right now.

if you want you could provide me with some debug-logs.
adding this to your `configuration.yaml`:
[code]

[2020-12-23 02:38] betaboon commented on #1
@tunip i just pushed some changes:
- setting speed now works (but I'm not completely sure if AC4236 and AC2889 are fully compatible in this regard)
- i reworked the device-attribues
- turning on/off after some hours might now be fixed. i will check back tomorrow.

[2020-12-23 07:10] spider7611 commented on #1
My 4000i "working" only with this: https://github.com/shexbeer/philips-airpurifier trayed all of fork.
When I uninstalled it and installed yours in HACS and restart HA not show up philips fan at all.
Install back shexbeer fork and "working", but only on and off switch. Not have speed or mode setup. If I switch on or off the purifier manually after in HA not working untill HA restart.

[2020-12-23 09:59] tunip commented on #1
Thx, updated to the newest commit. In case of issues I will provide you the needed debug-logs.

[2020-12-23 12:25] betaboon commented on #1
@spider7611 did you see in the readme that i changed the platform-string in this integration to `philips_purifier`?

your model is not officially supported by my fork. if you want you can provide me with debug-logs so that i can figure out how to support your device.

[2020-12-23 12:31] betaboon commented on #1
@tunip this is kind of expected:
py-air-control and the other integrations do alot of mapping of the `mode` and `om` field in order to determine the speed of the device. as the several models seem to use different values for `mode` and `om` i decided against a fit-all implementation and opted to implement each model individually (eg. your model seems to use `mode=A` for "Auto-mode" while mine uses

[2020-12-23 14:06] wolfhond commented on #1
Hello,

I have the ac1214/10 this model I can't add. Is there a way that it could work. I have add the log but I cant restart because of this:
Logger: homeassistant.components.hassio
Source: components/hassio/__init__.py:420
Integration: Hass.io (documentation, issues)
First occurred: 15:03:44 (2 occurrences)
Last logged: 15:06:03

Invalid config for [fan.philips_airpurifier]: value is not allowed

[2020-12-23 17:20] betaboon commented on #1
@wolfhond that model is currently not supported.

@wolfhond @tunip @spider7611 i just pushed some tooling and documentation (in `README.md`) on how to help get your model supported

[2020-12-23 22:04] spider7611 commented on #1
This was the problem: philips**_**purifier
But not working.
Tomorrow if I have time will do the debug. Thank Your Help!

[2020-12-24 09:12] wolfhond opened #2 "Command not found"
Hello I have don the steps but I get this:
![image](https://user-images.githubusercontent.com/21154913/103077653-772ec500-45d0-11eb-9dad-f41559959df2.png)

[2020-12-24 10:27] spider7611 commented on #1
spider2@ubuntu:~$ cd philips-airpurifier
spider2@ubuntu:~/philips-airpurifier$ source aioairctrl-shell.sh
Requirement already satisfied: pycryptodomex in ./.venv/lib/python3.8/site-packages (3.9.9)
Requirement already satisfied: aiocoap==0.4b3 in ./.venv/lib/python3.8/site-packages (0.4b3)
(.venv) spider2@ubuntu:~/philips-airpurifier$ aioairctrl --host $192.168.1.102 status --json

and nothing hap

[2020-12-24 12:39] betaboon commented on #1
@spider7611

That should have been: `aioairctrl --host 192.168.1.102 status --json`

[2020-12-24 14:10] bboerendans commented on #1
I'm using the same model and here its working.

I had to remove the other airpurifier hacs plugin + remove the fan: component from configration.yaml. Thereafter rebooted HA, installed this repo, rebooted HA, added the information in configuration as described at Usage:, rebooted again and its working :)

[2020-12-24 14:33] spider7611 commented on #1
Here it is:

(.venv) spider2@ubuntu:~/philips-airpurifier$ aioairctrl --host 192.168.1.102 status --json
{"name": "Living Room", "type": "AC3858", "modelid": "AC3858/50", "swversion": "Ms4304", "language": "EN", "DeviceVersion": "3.0.4", "om": "0", "pwr": "0", "cl": false, "aqil": 100, "uil": "1", "uaset": "A", "mode": "AG", "pm25": 35, "iaql": 6, "aqit": 10, "tvoc": 1, "ddp": "1", "rddp": "1", "e

[2020-12-24 14:50] betaboon commented on #1
@spider7611 what app-settings do the individual status-data correspond to?
is reading and setting speed in homeassistant working fine for you? it seems like it just might

@bboerendans as mentioned in https://github.com/betaboon/philips-airpurifier/issues/1#issuecomment-750263813 this is kind of expected.
you could help us support your model by providing the raw-status-data as described in the `RE

[2020-12-24 14:57] betaboon commented on #2
i just quickly threw the script together assuming a working python3 installation with the python interpreter being available as `python3` and pip being available as `pip3`

it looks like you are trying to run it on hassos? it might be easier running it on your linux-computer instead.

[2020-12-24 20:32] bboerendans opened #3 "Raw status data - AC1214/10"
`{"name": "kantoor", "type": "AC1214", "modelid": "AC1214/10", "swversion": "2.0.0", "om": "2", "pwr": "1", "cl": false, "aqil": 0, "uil": "0", "dt": 0, "dtrs": 0, "mode": "N", "pm25": 26, "iaql": 5, "aqit": 10, "ddp": "0", "err": 0, "fltt1": "A3", "fltt2": "C7", "fltsts0": 262, "fltsts1": 3924, "fltsts2": 1425, "ota": "no", "Runtime": 26217749, "WifiVersion": "AWS_Philips_AIR@51.1", "ProductId":

[2020-12-24 20:33] bboerendans commented on #1
@betaboon sure, i have added the data in #3

[2020-12-24 20:34] betaboon commented on #3
could you provide the status-data for each individual mode and speed that you can select in the app?

[2020-12-24 20:35] bboerendans commented on #2
I tried it on Debian on Windows Subsystem and got the same errors. I solved this with installing python3 with these commands:

`sudo apt-get install python3`
`sudo apt-get install python3-venv`

[2020-12-24 20:43] bboerendans commented on #3
Sure, i'm happy to help :)

I opened the app, childlock is disabled:

Fanspeed: Auto
Mode: Auto
{"name": "kantoor", "type": "AC1214", "modelid": "AC1214/10", "swversion": "2.0.0", "om": "2", "pwr": "1", "cl": false, "aqil": 50, "uil": "1", "dt": 0, "dtrs": 0, "mode": "P", "pm25": 14, "iaql": 4, "aqit": 10, "ddp": "0", "err": 0, "fltt1": "A3", "fltt2": "C7", "fltsts0": 262, "fltsts1": 3924, "fltsts

[2020-12-24 20:46] betaboon commented on #3
I'll take a shot at implementing that tomorrow :) thanks for your support.

[2020-12-24 21:02] bboerendans commented on #3
Some extra details after checking the raw data and the app:

The filters and days remaining:

fltsts0 = first filter (don't know the correct english word, its the one you have to clear by yourself)
fltsts2 = AC filter
fltsts1 = HEPA filter

[2020-12-24 21:25] barbatron commented on #3
It's "pre-filter" in [the manual](https://www.download.p4c.philips.com/files/a/ac1214_10/ac1214_10_dfu_ukr.pdf) (page 10)

Thanks for working on this, can't wait! :)

[2020-12-24 23:10] kongo09 commented on #1
Happy to help, I own the AC2729 and the AC2889. Will provide the data later.

[2020-12-25 09:17] spider7611 commented on #1
When the purifier state off:` {"name": "Living Room", "type": "AC3858", "modelid": "AC3858/50", "swversion": "Ms4304", "language": "EN", "DeviceVersion": "3.0.4", "om": "0", "pwr": "0", "cl": false, "aqil": 100, "uil": "1", "uaset": "A", "mode": "S", "pm25": 2, "iaql": 1, "aqit": 10, "tvoc": 1, "ddp": "1", "rddp": "1", "err": 0, "fltt1": "A3", "fltt2": "none", "fltsts0": 139, "fltsts1": 4176, "flt

[2020-12-25 09:53] wolfhond commented on #3
me too I can't wait

Mary Christmas ;-)

[2020-12-25 12:20] kongo09 commented on #3
Here comes my data for the AC2729/10 model.

base setting:

- power: on
- mode: automatic
- child lock: off
- fan: automatic
- 2-1 function: purification only
- time: off
- light: off

[code]

[2020-12-25 12:58] kongo09 commented on #3
Here comes my data for the AC2889/10 model.

base setting:

- power: on
- mode: automatic
- child lock: off
- fan: automatic
- time: off
- light: on at 100%

Fanspeed: Auto
Mode: Auto
`{"name": "Kinderzimmer", "type": "AC2889", "modelid": "AC2889/10", "swversion": "1.0.7", "om": "1", "pwr": "1", "cl": false, "aqil": 0, "uil": "0", "dt": 0, "dtrs": 0, "mode": "P", "pm25": 15, "iaql": 4, "aqit": 4,

[2020-12-25 19:07] nicx commented on #3
I could deliver the output of my AC2729/10 but as far as I see @kongo09 already did that :)

[2020-12-25 20:35] betaboon opened #4 "AC2729: initial support"
this issue is the place to discuss the initial AC2729 support.

# references

raw-data (provided by @kongo09): https://github.com/betaboon/philips-airpurifier/issues/3#issuecomment-751241821

cc: @kongo09, @nicx

[2020-12-25 20:37] betaboon opened #5 "AC1214: initial support"
this issue is the place to discuss the initial AC1214 support.

# references

raw-data (provided by @bboerendans): https://github.com/betaboon/philips-airpurifier/issues/3#issuecomment-751010937

cc: @bboerendans, @wolfhond

[2020-12-25 20:39] betaboon opened #6 "AC2889: initial support"
this issue is the place to discuss the initial AC2889 support.

# references

raw-data (provided by @kongo09): https://github.com/betaboon/philips-airpurifier/issues/3#issuecomment-751245825

cc: @kongo09, @tunip

[2020-12-25 20:41] betaboon opened #7 "AC3858: initial support"
this issue is the place to discuss the initial AC3858 support.

# references

raw-data (provided by @spider7611): https://github.com/betaboon/philips-airpurifier/issues/1#issuecomment-751217287

cc: @spider7611

[2020-12-25 20:45] betaboon commented on #3
i just pushed initial support for AC1214, AC2729, AC2889, AC3858.
as i own a AC4236 only, it would be highly appreciated if you could test the integration with your models.

to better organize the further discussion on each models-support i created individual issues.
please use those issues for any further discussion on the individual models.

[closing in favor of individual issues]

[2020-12-25 20:45] #3 closed

[2020-12-25 20:46] betaboon commented on #1
i just pushed initial support for AC1214, AC2729, AC2889, AC3858.
as i own a AC4236 only, it would be highly appreciated if you could test the integration with your models.

to better organize the further discussion on each models-support i created individual issues.
please use those issues for any further discussion on the individual models.

[closing in favor of individual issues]

[2020-12-25 20:46] #1 closed

[2020-12-25 20:51] betaboon opened #8 "AC4236: initial support"
this issue is the place to discuss the initial AC4236 support.

[2020-12-25 21:15] barbatron commented on #5
I get a 500 internal server error from `/api/config/core/check_config` when validating config. My config yaml:
[code]

[2020-12-25 21:16] betaboon commented on #5
@barbatron could you try pulling the repo again. i just had to do a force-push due to the previous commits breaking something

[2020-12-25 21:18] tenjaa opened #9 "AC3829: Initial support"
Hi!
My model is a humidifier too. Is it possible to support it too?
https://www.philips.de/c-p/AC3829_10/series-3000i-2-in-1-kombi-luftreiniger-u.-luftbefeuchter

- Base settings:
`Power: on`
`Humidity: 505`
`Purification & Humidification enabled`
`Light: 100%`
`Fan Speed: Auto`

- Mode: Auto
`{"name": "Living Room", "type": "AC3829", "modelid": "AC3829/10", "swversion": "1.4.0", "DeviceVersion":

[2020-12-25 21:20] barbatron commented on #5
Yep got the update just now. Now I get a log entry after restart:
[code]

[2020-12-25 21:25] betaboon commented on #5
@barbatron just saw that i indeed forgot to add the new models to the configuration structure.

just pushed a commit that should fix it :)

[2020-12-25 21:34] betaboon commented on #5
@barbatron if you get around to it: could you test if all the speed-settings work for this model ? :)

[2020-12-25 21:36] barbatron commented on #5
@betaboon ok, no warnings to be found in the UI or devtools network calls. Though the entity is displayed as unavailable. Any tips on how I can gather more details? 😬

[2020-12-25 21:41] betaboon commented on #5
@barbatron you could try getting debug logs. i just added some information on that to the `README.md` (see: https://github.com/betaboon/philips-airpurifier#debugging)

[2020-12-25 21:52] barbatron commented on #5
I see some that looks good:
[code]
...and some that might hint of some issue but idk:
[code]

[2020-12-25 21:54] nicx commented on #4
Thanks! I will test it tomorrow and give feedback :)

[2020-12-25 22:04] barbatron commented on #5
Not much new, I believe. Please advise if I can do/run anything in particular to assist. If you know how, I could expose the device to you over vpn :)

[code]

[2020-12-25 22:10] barbatron commented on #5
It seems to work now! 🤷‍♂️😅
![image](https://user-images.githubusercontent.com/1238405/103142621-5072aa80-4706-11eb-818f-e169ca82a195.png)

[2020-12-25 22:21] spider7611 commented on #7
This is awesome. Everything working like a charm.

[code]

[2020-12-25 22:31] barbatron commented on #5
@betaboon not sure why, but it's back to "unavailable". I might be doing something wrong. Restarting HA and taking another look at logs/state

[2020-12-25 22:51] betaboon commented on #5
interest.
i just pushed some more debug-logging for the observation code. could you please try that out?

it might help if you enable debug-logging for coap as well:

[code]

[2020-12-25 22:58] kongo09 commented on #6
First experiments show that your new code works. However, when I use the speed setting in the lovelace fan card it also changes the light setting. That's not expected for a fan speed setting.

[2020-12-25 23:23] barbatron commented on #5
Is there an expected lag time? In the spirit of proper science I've been trying to only change a single thing per restart/state check, but I'm also seeing periods where connectivity seems to be working. I might be too nooby to know if I've set up sensors correctly. Would the `name` attribute have any impact on entity id?

![image](https://user-images.githubusercontent.com/1238405/103143092-5f5e5a8

[2020-12-25 23:24] kongo09 commented on #6
Interestingly, HA created new entities with new entity IDs so that I now have duplicates. Is that expected behaviour?

[2020-12-25 23:24] barbatron commented on #5
Latest tail:
[code]

[2020-12-25 23:39] betaboon commented on #5
can you  provide a more complete log? from the very start where the component was started? should start somewhere before `retrieving initial status`

[2020-12-25 23:41] betaboon commented on #6
the entity-id issue is somewhat expected as this integration generates the `unique_id` from `{model}-{product_id}`.

as for the light settings: i don`t have a clue how that is happening as the code doesn't even touch that setting.

[2020-12-25 23:49] betaboon commented on #9
so it might be very similiar to the AC2729. i have not yet implemented the humidifier part, but will do that in the next couple of days.

are there any more speed-settings available in the app in addition to the three that you provided? if so please provide state-data for them :)

[2020-12-26 00:01] betaboon commented on #9
could you also provide the available settings for humidity, please?

[2020-12-26 00:13] kongo09 commented on #4
Doesn't really work for me. There is no "on/off" switch and the developer tools say: state unavailable. I've set the log to DEBUG but there is nothing special to be seen. HA reports my other fan in regular intervals. The AC2729 is reported only once at the beginning:

[code]

[2020-12-26 00:21] betaboon commented on #4
@kongo09 could you try enabling the debug-logging for `coap` as well?
[code]

[2020-12-26 00:44] betaboon commented on #4
@kongo09 i just added a `--debug`-option to the cli-tool.

so could you please post the output of:
[code]

[2020-12-26 00:47] kongo09 commented on #4
Here is the complete log showing both fans. The problematic one is `philips_ac2729_host: 192.168.179.12`
[code]

[2020-12-26 00:48] betaboon commented on #4
I'll take a look at it tomorrow ;)

[2020-12-26 00:57] kongo09 commented on #4
Here comes the output of aioairctrl:

[code]

[2020-12-26 01:05] kongo09 commented on #6
I just checked the AirMatters app: changing the fan speed or mode definitely does not change the light setting.

[2020-12-26 01:12] barbatron commented on #5
Got data, I think my settings and my readings were, or are, lagging. Don't have time to check atm but it seems to be like an hour lagging as before 🤔 I'll get back with timestamps.

[2020-12-26 10:26] spider7611 commented on #7
How to change this to false?:
`display_backlight: true
`

[2020-12-26 11:17] mcshosho opened #10 "AC3059"
- Mode Sleep (fan speed auto)

`{"name": "Puri", "type": "AC3059", "modelid": "AC3059/50", "swversion": "Ms3301", "language": "EN", "DeviceVersion": "3.0.1", "om": "s", "pwr": "1", "cl": false, "aqil": 0, "uil": "0", "uaset": "P", "mode": "S", "pm25": 4, "iaql": 1, "aqit": 4, "tvoc": 1, "ddp": "1", "rddp": "1", "err": 0, "fltt1": "A3", "fltt2": "none", "fltsts0": 213, "fltsts1": 4704, "fltsts2": 6

[2020-12-26 12:38] barbatron commented on #5
@betaboon Things do seem to work. I have ~5 minutes between data points (configurable through scan_interval?) and am confused about old entity names lingering ("white_huffer" or similar was not in my config anywhere but numbers are coming in through that name, is it because of the "singleton" fan definition maybe). Also, there seems to be about 8-10 minutes after restart where the fan.[name] entit

[2020-12-26 13:39] bboerendans commented on #5
Its working fine :), took some time before I saw that changing the type in configration.yaml created a new fan with _2

Could it be possible to configure the light brightness from HA too? I can't change that in the app.
And as soon i set the speed to Turbo in HA, it switches to speed 2.

[2020-12-26 13:54] betaboon commented on #4
this is interesting.

the device seems to have a buggy CoAP-implementation:
[code]
you see how the request that is being sent contains `(MID 33739, token 7bb5)`, but the ACK contains `(MID 1, token 7bb5)` even tho it should contain `MID 33739`. thus the client cannot match the ACK to the correct exchange.

right now I'm unsure how to overcome this.

[2020-12-26 14:11] betaboon commented on #4
@kongo09 i just pushed a commit that help with this issue.
maybe you can check and report back :)

[2020-12-26 14:12] kongo09 commented on #4
Hm, I have actually no idea about the CoAP protocol. The fact that the AirMatters remot app works can only mean that this is either specific to the local interface or the app ignores the ACK - if that is possible in the protocol. I once had a problem with a firmware update and through mailing the support in the end got hold of one of the guys from AirMatters who was very helpful. I could try to re

[2020-12-26 14:15] betaboon commented on #5
@barbatron i have no clue about the `white_huffer` entity.
regarding the 10min-unavailable: i noticed several models have weird CoAP-behavior. i just pushed a commit that might help with this.

i will add fan-readings next after fixing some bugs.

@bboerendans so you dont have any issues with this model?
i will add brightness at some point in the (not so distant) future.

@barbatron can you verify

[2020-12-26 14:17] kongo09 commented on #4
HACS doesn't show any update?

[2020-12-26 14:19] betaboon commented on #6
@kongo09 that's interesting. maybe the app remembers the light setting and sends a separate request. or it uses another interface.
I'm unsure what i can do here, as the requests that we send when setting the speed don't touch the light settings at all.

maybe a pcap of the network-traffic between the app and the device could help ?

[2020-12-26 14:20] betaboon commented on #7
light-settings are not yet exposed as services. that's still on the list and coming in the (not so distant) future

[2020-12-26 14:35] betaboon commented on #10
@mcshosho i just pushed initial support for this model, could you please test and report back ?

[2020-12-26 14:47] betaboon commented on #4
@kongo09 should be available by now

[2020-12-26 15:00] spider7611 commented on #7
Ok, thank you. 👌

[2020-12-26 15:05] kongo09 commented on #4
Hm, still problematic. The speed settings seem to work but not the on/off switch. When I switch it off, HA puts the toggle back on as it doesn't realize that it went off. Consequently, I cannot switch it back anymore as HA believes it is already on. When I set the speed to something different, it actually goes back on with the right speed setting. So communication is somehow working but not for th

[2020-12-26 15:39] bboerendans commented on #5
Besides the turbo option, everything is working fine.

Looks like the days remaining for filters is not implemented yet?

Thanks for your work on this integration!

[2020-12-26 15:55] betaboon commented on #5
can you provide state-data for the turbo mode in the following fashion:
- enable auto-mode
- enable turbo-mode

[2020-12-26 16:46] mcshosho commented on #10
Setting the speed and reporting attributes - is working fine.
One thing I noticed - when the fan is off and HA is restarted - there is a period (7:37 minutes first time, second time 7:05 minutes) when the fan is reported as unavailable.
If the fan is on and HA is restarted the status is picked up imediatelly (only 4 seconds)

[2020-12-26 17:39] barbatron commented on #5
@betaboon First I got no reaction at all from selecting turbo - other modes work great. Last time just now it did select speed 1. Logs below. In my experience even the AirMatters and the previous Philips-endorsed app both have been failing at selecting turbo speed - it's been broken for as long as I've owned the device.

Logs from selecting turbo:
[code]

[2020-12-26 17:57] barbatron commented on #5
@betaboon I got an error when `source`:ing the script to prep environment on my desktop computer. Don't remember exact output but something-something-"wheel" and some missing prop/member IIRC. Fetching status json then also failed.

When repeating in a new session, the prep script did not print any errors, although fetching status still fails:
[code]

When attemping the script on my HA I don't see

[2020-12-26 18:27] barbatron commented on #5
Not sure if I did this right. I activated auto mode manually. Ran the aioairctrl to get status. Then activated turbo mode manually, and ran it again. This is the output:

[code]

[2020-12-26 21:04] tenjaa commented on #9
Here are the other speed settings.
`Mode` is disabled and the `Fan Speed` set as stated below.
- Speed 1:
`{"name": "Living Room", "type": "AC3829", "modelid": "AC3829/10", "swversion": "1.4.0", "DeviceVersion": "0.0.0", "om": "1", "pwr": "1", "cl": false, "aqil": 100, "uil": "1", "dt": 0, "dtrs": 0, "mode": "M", "func": "PH", "rhset": 50, "rh": 56, "temp": 23, "pm25": 13, "iaql": 4, "aqit": 1, "d

[2020-12-26 21:05] tenjaa commented on #9
- Purification only (everything else to Auto):
`{"name": "Living Room", "type": "AC3829", "modelid": "AC3829/10", "swversion": "1.4.0", "DeviceVersion": "0.0.0", "om": "1", "pwr": "1", "cl": false, "aqil": 100, "uil": "1", "dt": 0, "dtrs": 0, "mode": "P", "func": "P", "rhset": 50, "rh": 55, "temp": 23, "pm25": 13, "iaql": 4, "aqit": 1, "ddp": "0", "rddp": "0", "err": 0, "wl": 100, "fltt1": "A3", "

[2020-12-26 21:07] tenjaa commented on #9
Purification and Humidification enabled.
- Humidity 40%:
`{"name": "Living Room", "type": "AC3829", "modelid": "AC3829/10", "swversion": "1.4.0", "DeviceVersion": "0.0.0", "om": "1", "pwr": "1", "cl": false, "aqil": 100, "uil": "1", "dt": 0, "dtrs": 0, "mode": "P", "func": "PH", "rhset": 40, "rh": 55, "temp": 23, "pm25": 15, "iaql": 4, "aqit": 1, "ddp": "0", "rddp": "0", "err": 49408, "wl": 0, "fl

[2020-12-26 21:10] tenjaa commented on #9
`rh` seems to be the relative humidity read by the device.
`temp` in fact matches with the readings from my thermometer.

[2020-12-26 21:12] bboerendans commented on #5
auto mode:
`{"name": "kantoor", "type": "AC1214", "modelid": "AC1214/10", "swversion": "2.0.0", "om": "1", "pwr": "1", "cl": false, "aqil": 25, "uil": "1", "dt": 0, "dtrs": 0, "mode": "P", "pm25": 6, "iaql": 2, "aqit": 10, "ddp": "0", "err": 0, "fltt1": "A3", "fltt2": "C7", "fltsts0": 231, "fltsts1": 3893, "fltsts2": 1394, "ota": "no", "Runtime": 205547885, "WifiVersion": "AWS_Philips_AIR@51.1", "

[2020-12-27 08:02] nicx commented on #4
Just tried it with my airpurifier:
- setting mode to auto is not working, when choosing it just nithing happens. all other modes are working perfectly
- the on/off switch is working, but when setting to off it does not reflect the correct status as @kongo09 reports, too. so the switch could only be user once :)
- the sensors for temperature, humidity, target humidity are missing
- the sensors for

[2020-12-27 10:58] betaboon commented on #9
@tenjaa i just pushed initial support (speed control only)
could you please test and verify?

[2020-12-27 11:08] betaboon commented on #5
just so that i get this right: enabling Turbo-mode via the app works and is reflected in HA, enabling Turbo-mode via HA does not work!?

this is very weird. maybe someone can get a pcap of the network-traffic between app and device?

you could try setting the modes manually using `aioairctrl`:
`aioairctrl --host $DEVICE_IP --debug set mode=M om=t`
`aioairctrl --host $DEVICE_IP --debug set mode=T o

[2020-12-27 11:16] betaboon commented on #4
- i just pushed a commit for the temperature- and humidity-readings
- the filter readings are not yet implemented for all the models
- @kongo09 can you verify the behavior of the auto-mode that @nicx described?

regarding the on/off:
the on/off-button reflects the state that is reported back by the device, so this seems weird.
can you try the following:
- turn the device on
- get state-data using

[2020-12-27 13:08] tenjaa commented on #9
Works like a charm! Nice work!
Anything else you need help with?

[2020-12-27 13:29] barbatron commented on #5
@betaboon turbo speed is set by that first command:
[code]

PCAP is all encrypted but speaks with AWS EC2, lmk if it is of interest.

Second command also successfully sets turbo mode:
[code]

[2020-12-27 13:34] betaboon commented on #5
@barbatron
can you try with the following settings as well:
`aioairctrl --host $DEVICE_IP --debug set pwr=1 mode=M om=t`
`aioairctrl --host $DEVICE_IP --debug set pwr=1 mode=T om=t`

[2020-12-27 13:37] barbatron commented on #5
@betaboon they both work fine.

I am resetting speed through the AirMatters app in between attempts. I just updated to latest commit on `dev` so the device is in the "unavailable" 8-10 minute atm, so haven't been able to test through HA yet

[2020-12-27 13:40] betaboon commented on #5
it is very weird that setting them like this manually seems to work, but not through HA, as those are the exact values that are being sent.

for the "unavailable"-issue: can you provide a debug-log ? :dagger:
(thanks for your assistance)

[2020-12-27 13:41] bboerendans commented on #5
Did some steps to figure out if we could find some differences:
Opened HA, and changed the status to speed 3:
`{"name": "kantoor", "type": "AC1214", "modelid": "AC1214/10", "swversion": "2.0.0", "om": "3", "pwr": "1", "cl": false, "aqil": 25, "uil": "1", "dt": 0, "dtrs": 0, "mode": "M", "pm25": 4, "iaql": 1, "aqit": 10, "ddp": "0", "err": 0, "fltt1": "A3", "fltt2": "C7", "fltsts0": 214, "fltsts1":

[2020-12-27 13:45] betaboon commented on #5
@bboerendans `mode=M om=t` is weirdly enough exactly what we are currently using: https://github.com/betaboon/philips-airpurifier/blob/dev/custom_components/philips_airpurifier/fan.py#L325

[2020-12-27 13:47] betaboon commented on #5
i just pushed a commit that tries to set `mode=T om=t` (as some other models do) (see: https://github.com/betaboon/philips-airpurifier/commit/38c2eaa2aab5e37e2095cff0fcfe0266aa6cfe8b)
maybe you could test and report back :)

[2020-12-27 13:48] barbatron commented on #5
@betaboon debug log from restart to some time after when it popped back on here: https://gist.github.com/barbatron/3a637e68415502973eafda765ccad742

[2020-12-27 13:50] barbatron commented on #5
Turbo mode in HA works fine for me now, again. Speed 2 does not work though 😅 will try again after update/rediscovery

[2020-12-27 14:11] barbatron commented on #5
@betaboon switching around randomly everything seems to work fine now. Installed SHA is `38c2eaa`. I do have the occasional message that seems to get dropped or ignored but mostly it's all 👍

[2020-12-27 14:13] betaboon commented on #5
@barbatron my device sometimes reports `{"status": "success"}` when sending a command but it actually doesn't do anything. not much i can do in that cases i fear.

[2020-12-27 14:17] barbatron commented on #5
Now it's speed 2. I'm not even seeing a request such as `REQUEST: {"state": {"desired": {"CommandType": "app", "DeviceId": "", "EnduserId": "", "pwr": "1", "mode": "M", "om": "1"}}}` , are state changes/requests ignored when deemed duplicate/no-change?

[2020-12-27 14:20] betaboon commented on #5
nope there is no logic for that.
a note on `home-assistant.log`: i noticed that file doesn't seem to get written to immediately. it seems to get written to in chunks

[2020-12-27 15:01] bboerendans commented on #5
with the last update Turbo is working for me 👍

[2020-12-27 16:26] betaboon commented on #4
@nicx i just pushed reading of filter-values

[2020-12-27 17:50] kongo09 commented on #4
Tricky beast. Right now, I can change all fan-speed settings in HA and they're reflected correctly on the device. So I cannot confirm the observation of @nicx concerning the auto mode.

What remains weird is the on/off switch. Clicking the toggle switches the devices off, but the toggle comes back on. The fan-speed setting remains on auto and doesn't go to off, what I would expect. However, when I

[2020-12-27 17:54] kongo09 commented on #6
This drives me crazy. Now I see the same erratic behaviour with this device as I saw with the AC2729. Using the HS on/off switch to switching it off indeed switches the device off, but the toggle goes back on again.  Working just with the fan-speed setting seems to be more stable.

[2020-12-27 18:45] betaboon commented on #6
Could you provide a debug log of the situation?

[2020-12-27 21:09] bboerendans commented on #5
Super! Filter data is working fine too 💯
![image](https://user-images.githubusercontent.com/4182238/103179815-159c7e00-4890-11eb-9889-a13989fcdb89.png)

[2020-12-27 23:57] betaboon commented on #4
i just pushed services for:
- child lock
- display backlight
- light brightness
- humidifier function
- humidity

it would be great if you could test it :)

[2020-12-27 23:57] betaboon commented on #5
i just pushed services for:
- child lock
- display backlight
- light brightness
- humidifier function
- humidity

it would be great if you could test it :)

[2020-12-27 23:58] betaboon commented on #6
i just pushed services for:
- child lock
- display backlight
- light brightness
- humidifier function
- humidity

it would be great if you could test it :)

[2020-12-27 23:58] betaboon commented on #7
i just pushed services for:
- child lock
- display backlight
- light brightness
- humidifier function
- humidity

it would be great if you could test it :)

[2020-12-27 23:59] betaboon commented on #9
i just pushed services for:
- child lock
- display backlight
- light brightness
- humidifier function
- humidity

it would be great if you could test it :)

[2020-12-27 23:59] betaboon commented on #10
i pushed support for filter-reading today.

i also just pushed services for:
- child lock
- display backlight
- light brightness
- humidifier function
- humidity

it would be great if you could test it :)

[2020-12-28 00:03] betaboon commented on #4
yes there is a minor difference: it considers the state of the device.
the weird behaviour of the on/off-switch somewhat makes me believe that the state-update coming from the device is somehow going lost.

but as mentioned in #6 a debug-log of that situation would help the most.

[2020-12-28 07:36] nicx commented on #4
here is the output:

device on and running:
[code]

device turn "off" via HA (and yes, its really off):
[code]

[2020-12-28 07:50] nicx commented on #4
Thanks for your fast development @betaboon, that's really lightning-fast :)
I did some more tests with the last version:

- the "auto" mode ist still not working for me, it just does nothing with the AirPurifier. All other modes are working. Anything I could do to get into the problem?
- all sensors are working, thanks again :) The only sensor which is missing now is the sensor for "Water Level".

[2020-12-28 11:50] wolfhond commented on #5
@bboerendans How do you have made that card? And now installing latest version it is unavailable.

[2020-12-28 12:03] betaboon commented on #4
@nicx i just pushed the water-level reading. thanks for bringing that up. totally overlooked it

[2020-12-28 12:07] betaboon commented on #4
on the auto-mode: you could set the auto-mode using the app or on the device and then read the status.

the code currently uses `mode=P`
so you could also try using `aioairctrl` to set it:
`aioairctrl --host $DEVICE_IP --debug set mode=P --json`
and
`aioairctrl --host $DEVICE_IP --debug set pwr=1 mode=P --json`

[2020-12-28 12:11] betaboon commented on #4
on the on-off issue: could you repeat the same procedure but provide a debug-log of HA additionally ?

[2020-12-28 12:12] betaboon commented on #8
as this is the device i own and everything seems to work fine, I'm closing this.

[2020-12-28 12:12] #8 closed

[2020-12-28 12:16] wolfhond commented on #5
what is the best method to install the newest version. just overwrite en reboot? Or?

[2020-12-28 12:17] betaboon commented on #5
either: install using HACS -> update there -> restart using server-controls
or: override -> restart using server-controls

[2020-12-28 12:20] wolfhond commented on #5
what is the name in HACS. I only found the of xMrVizzy.

[2020-12-28 12:21] betaboon commented on #5
it is not yet officially included in HACS. you would need to add it as a `custom Repository`

[2020-12-28 12:22] wolfhond commented on #5
@betaboon found it ;-)

[2020-12-28 12:32] nicx commented on #4
hm unfortunately this commands are not working for me:

[code]

[2020-12-28 12:34] betaboon commented on #4
@nicx oh sorry. the `--json` doesnt apply to `set`-operations :) (i corrected it in my last comment)

[2020-12-28 12:35] nicx commented on #4
ah I just need to cur off the parameter "--json". so here ist the output:

aioairctrl --host $DEVICE_IP --debug set mode=P
[code]

aioairctrl --host $DEVICE_IP --debug set pwr=1 mode=P
[code]

[2020-12-28 12:37] betaboon commented on #4
did both commands successfully enable auto-mode ?

[2020-12-28 12:39] nicx commented on #4
just in addition, maybe it helps finding the problem:

when the purifier is off an I use any of these two commands I only get 1 "bing" and not the 3 "bing bang bong" when using the command `aioairctrl --host $DEVICE_IP --debug set pwr=1`

so for me it seems that it only powers on correctly when not using any mode parameter in addition. Is that possible?

[2020-12-28 12:42] nicx commented on #4
yes they apparently did.

[2020-12-28 12:47] nicx commented on #4
Another question regarding the remaining time for all filters: Currently you convert them to a non standard format which is hard to handle in HA automations. The original remaining time is just hours, which is very handy regarding HA scripting. Is there any reason why you convert them to "166 days, 14:00:00"?

[2020-12-28 12:50] bboerendans commented on #5
@betaboon
`child_lock: false
light_brightness: 25
display_backlight: true`

Is giving data. This device does not have the option for
- humidifier function
- humidity

[2020-12-28 12:52] bboerendans commented on #5
It's the default entity card, with custom:mini-graph-card in the footer

[2020-12-28 12:53] betaboon commented on #4
i chose a representation that is human-readable.

[2020-12-28 12:56] nicx commented on #4
I understand this, but it is not machine readable which should be in my opinion the priority for a HA integration for a sensor. For the UI (and the human readability) it could be converted via templating. But anyway, this are just my two cents ;)

[2020-12-28 13:06] tenjaa commented on #9
works!

works! Technically it is not turning the backlight off. I still see `-` on the screen.

works!

works!

works! Im not sure but maybe it would be cool to enable `purification and humidification` when setting this. With only `purification` enabled this service doesnt do anything

[2020-12-28 13:09] nicx commented on #4
here is the debug output of aioairctrl:
[code]

and here the debug output of HA:

[code]

[2020-12-28 13:23] betaboon commented on #4
@nicx in the HA-log: how long does it take for a new observation-status to arrive after that ?

[2020-12-28 13:31] nicx commented on #4
@betaboon I waited now for 30 minutes but there is never any new log entry regarding your custom compinent. The HA switch remains "ON" forever ;)

[2020-12-28 13:36] betaboon commented on #4
i have a hunch:
- a command failing causes resyncing
- resyncing causes the observation to not work anymore
- therefore no new status-observation is received
- therefore the integration never obtains knowledge about the device being turned off

can you restart in server-controls and try again.
if this only happens after resyncing, then that might be the cause :)

[2020-12-28 14:57] nicx commented on #4
@betaboon I think we are getting closer: after a reboot it works exactly 1 time, after that it does not work again until the next reboot. Your hunch could be right :)

[2020-12-28 15:08] mcshosho commented on #10
![image](https://user-images.githubusercontent.com/15107043/103223162-4df29980-492e-11eb-9be1-29c42e5b80ab.png)

filter-reading - working fine
display backlight - working fine to turn on, turn off
child lock - I see that the attribute is changing but nothing is happening on the device - also in "Clean Home" app I don't see this function so most probably this model AC3059 does not have this functio

[2020-12-28 15:19] betaboon commented on #4
hm i just tested.
resyncing does not break the observation, so my hunch is wrong

[2020-12-28 15:24] betaboon commented on #4
@nicx could you enable debug-logs for `coap` and `aioairctrl` (as mentioned in `README.md`) and provide another debug log of the situation occurring. i sadly cannot reproduce it with my device :/

[2020-12-28 15:42] wolfhond commented on #5
I think I look totally wrong.

But when I make a entity card I can only add fan.philips_airpurifier thats it.
I have no sensors.

I add this:
fan:
   platform: philips_airpurifier
   host: 192.168.1.46
   model: ac1214
sensor:
  - platform: template
    sensors:
      purifier_aqi:
        friendly_name: "Air Quality Index"
        value_template: "{{ states.fan.philips_airpurifier.attributes.air_

[2020-12-28 15:44] wolfhond commented on #5
the bullet is a minus

[2020-12-28 16:07] mcshosho commented on #10
on thing I noticed - no matter what are the values for pm25, volatile compounds or indoor allergen index - the value for air quality index is ALWAYS 4
look below - pm25 = 78, allergen = 11 (a test with a parfume :) ) and in upper screenshots (where everything was 1 or 2)
![image](https://user-images.githubusercontent.com/15107043/103227494-2522d200-4937-11eb-80c0-36600b09affc.png)

[2020-12-28 19:15] bboerendans commented on #5
I created these sensors in configuration.yaml:

`     airpurifier_air_quality_index:
       friendly_name: "Lucht kwaliteit"
       value_template: "{{ state_attr('fan.philips_airpurifier_2', 'air_quality_index') }}"
     airpurifier_indoor_allergen_index:
       friendly_name: "Allergenen index"
       value_template: "{{ state_attr('fan.philips_airpurifier_2', 'indoor_allergen_index') }}"

[2020-12-29 00:59] kongo09 opened #11 "source aioairctrl no longer working"
I just pulled the latest code from git and now your cli tool doesn't work anymore:

[code]

[2020-12-29 01:14] kongo09 commented on #4
I just generated a fresh log after restart. Now, the AC2729 is not found anymore. The AC2889 is still found. I can ping the AC2729 and the AirMatters app shows it well, so it is connected.

[code]

[2020-12-29 08:15] spider7611 commented on #7
In my purifier not have child lock only see in status false true in the entity info. Humidifier function not have too. Backlight working good.

[2020-12-29 09:09] nicx commented on #4
sure, here we go:
´´´
2020-12-29 10:06:53 WARNING (MainThread) [homeassistant.loader] You are using a custom integration for hacs which has not been tested by Home Assistant. This component might cause stability problems, be sure to disable it if you experience issues with Home Assistant.
2020-12-29 10:06:53 WARNING (MainThread) [homeassistant.loader] You are using a custom integration for volkswa

[2020-12-29 10:35] kongo09 commented on #4
Now this is crazy. Out of frustration I unplugged the device yesterday and left it off for the whole night. Upon plugging it back in this morning everything started to work. All modes are correct, the on/off switch works as expected. HA catches when I set the device manually or via the AirMatters app - in short: all is good. I've now played with it for some time and it is still good.

@nicx can yo

[2020-12-29 10:39] kongo09 commented on #6
I did that over at #4 . However, for whatever reason, this morning the device started to behave. All seems to work.

This device does not have a humidifier function or humidity readings.

[2020-12-29 10:58] tunip commented on #6
AC2889 seems to work fine. As kongo09 wrote, the AC2889 doesnt have humidity functions/sensors.

[2020-12-29 13:09] betaboon commented on #7
since this device seems to be fully working now, I'll close this issue.
don't hesitate to open a new issue if something is wrong

[2020-12-29 13:09] #7 closed

[2020-12-29 15:02] ludipq opened #12 "Not all purifiers load when restarting HA"
I have integrated 3x AC1214 and when I restart Home Assistant, it's pretty random if they all come up or not. Sometimes they all load fine, the next restart only one of them load and the other two are unavailable, the next restart all 3 are unavailable etc.

[2020-12-29 16:37] ludipq commented on #11
Same here

[2020-12-29 18:31] nicx commented on #4
@kongo09 I will tray that and unplug it right now :)

[2020-12-29 21:08] kongo09 commented on #4
I'm going nuts. I left it for itself for the day and just gave it another try right now. And it fails again. On/off switch doesn't reflect the state. I can only switch it back on by using a speed setting. Auto setting stopped working as well.

I suspect it died sometime during the day as HA says the last data is from 10 hours ago, while the other device says it is from 15mins ago:

AC2729 | AC2889

[2020-12-30 07:36] nicx commented on #4
For me the unplug-workaround unfortunately didn't work. Same behavior today after plugging it again: Switching on/off does not work in HA, neither setting mode to Auto.

[2020-12-30 08:21] spider7611 opened #13 "In automation call service (backlight off or on) not find entity and not working."
In development call service working good, but cant setup in automation.

[2020-12-30 10:07] kongo09 commented on #4
This morning, the device is gone for HA and cannot be discovered anymore. Logs:

[code]

[2020-12-30 10:22] kongo09 commented on #4
This morning I thought the device had died - stupid me, it was in a switchable socket. Which means, it was again without power for the night. Switching it back on it works in HA - at least for now. I'll keep observing it.

[2020-12-30 12:15] wolfhond commented on #5
@bboerendans Dat werkt prima. Turbo, Auto, Night, Allergen. Werken niet. 1, 2, 3 en off werkt prima.
@betaboon speed:off, 1, 2, 3 works fine : Turbo, Auto, Night, Allergen not.

[2020-12-30 12:31] wolfhond commented on #5
works also fine

[2020-12-30 13:10] wolfhond commented on #5
thanks for all the work. Only changing the modus work not all the time.
![image](https://user-images.githubusercontent.com/21154913/103353277-bfeeee00-4aa8-11eb-81bf-567d6c7b2d0a.png)

[2020-12-30 14:11] kongo09 commented on #4
I have setup an automation that switches the devices on and off every 15mins. It's been running for the last few hours without problems. Not sure what to make of it. Maybe it is just an instable implementation on the device side that dies from time to time.

[2020-12-30 14:15] kongo09 commented on #5
Would you mind sharing the full code for your entity card - it looks great

[2020-12-30 15:53] barbatron commented on #12
My 1214 also takes somewhere between 8 and 30 minutes (typically ~10) to pop back from "unavailable" after HA restart.

[2020-12-30 16:56] ludipq commented on #12
Well, the longest I have tested so far is 2 hours, still not up.

[2020-12-30 17:05] wolfhond commented on #5
@kongo09 I don't know why the minus are dots?? But this is my cardconfig.
`
type: entities
entities:
  - entity: fan.philips_airpurifier
  - entity: sensor.airpurifier_air_quality_index
    icon: 'hass:weather-cloudy-arrow-right'
  - entity: sensor.airpurifier_pm25
    icon: 'hass:snowflake'
  - entity: sensor.airpurifier_indoor_allergen_index
    icon: 'hass:snowflake'
  - entity: sensor.airpurif

[2020-12-31 14:26] ronaldt80 commented on #6
Brilliant! I have 2 http purifiers (which work very well with other plugins) but could not get the COAP one to work consistently. Will test for a few days and report back but so far all speed settings seem to work. Not much luck with services yet.

@kongo09 - my devices all turn of light and display light (where applicable) when set to sleep mode. Suspect this is built in and kind of makes sense t

[2020-12-31 16:14] MJohnson459 opened #14 "Update readme with installation instructions"
Is it possible to update the readme with instructions on how to install this?

Using this thread I installed HACS but only the original vMrVizzy repository is listed.
https://community.home-assistant.io/t/philips-air-purifier/53030/102

[2021-01-01 11:50] ludipq commented on #12
Now they won't load at all, either of them. No matter how many times I restart :(

[2021-01-01 11:55] djanosz commented on #12
What does your configuration look like, I can't add. second purifier. I will be grateful for your help.

[2021-01-01 11:58] ludipq commented on #12
https://community.home-assistant.io/t/philips-air-purifier/53030/161

[2021-01-01 12:19] djanosz commented on #12
Thank you, it works.

[2021-01-04 19:23] tunip commented on #6
Can still switch on the purifier in Home Assistant (also after days), but the  switch in Lovelace goes back to off (Purifier still runs). To switch the purifier off, I need then to switch it on and right away off in Lovelace. Will check the log.

[2021-01-04 19:54] ronaldt80 opened #15 ""Handshake" suddenly stopped working - AC2889"
The plugin has been running successfully over the weekend; all services work. Last night however the plugin stopped updating its status in home assistant ("handshake") - below the last log record which occurred at 22.46 last night (prior to this the "handshake" occurred at least once per 3 minutes).

[code]

Since last night the status is no longer updated, the purifier responds to commands given

[2021-01-04 20:59] ronaldt80 commented on #6
@tunip see issue #15 which I just opened. Your description seems in line with my issue, can you check if a home assistant restart works and if you can find the same "handshake" in your logs?

[2021-01-07 10:16] kongo09 commented on #4
Some update from my side: the code has been working well now for over a week. Now it starts making problems again and one fan in the log keeps reporting duplication. The state attributes in HA don't reflect the state of the device anymore:

[code]

I'm not sure what the code logic is here. Are all coap messages checked for uniqueness to prevent double processing? Maybe you could introduce an overr

[2021-01-07 14:22] tunip commented on #6
@ronaldt80 home assistant restart is a temporary workaround. A few hours/days later, same behavior. Enavbled debug logging and lets wait, what happens.

[2021-01-08 00:35] Blackhawk386 commented on #11
Same problem here.

`/config # git clone https://github.com/betaboon/philips-airpurifier.git
Cloning into 'philips-airpurifier'...
remote: Enumerating objects: 253, done.
remote: Counting objects: 100% (253/253), done.
remote: Compressing objects: 100% (109/109), done.
remote: Total 515 (delta 131), reused 228 (delta 107), pack-reused 262
Receiving objects: 100% (515/515), 94.46 KiB | 848.00 KiB/s

[2021-01-08 09:19] tunip commented on #15
Same behavior on my AC2889.

I see also this message in the debug log:
[code]

[2021-01-08 18:44] WerderFF commented on #11
Hello, I think I've a similar problem. After installing the version from betaboon, I get the following error after resarting my HA: "No module named 'aioairctrl'". I there any solution for that?

Thanks in advance, Fabian!

[2021-01-09 10:47] jazynek commented on #14
Same here

[2021-01-12 21:33] arthurgeek commented on #4
this is working great. one minor thing: water_level is incorrect. it always shows me: `100`, even when there's no more water. here's the output of `aioairctrl --host IP status --json`:

[code]

It seems `wl` is always `100`.

[2021-01-13 23:02] kongo09 commented on #4
@arthurgeek for me the water level works. But then again, my device sometimes overall works and sometimes not. The interface is very instable. I think @betaboon did his/her best and it might be down the a buggy Philips implementation.

[2021-01-14 08:27] betaboon commented on #4
I'm currently unable to work on this due to personal reasons.
i will pick it up again as soon as the situation is cleared.

regarding the water-level: it seems like the `wl`-value reverts to 100 but sets an `err`-number when the water is out.

@kongo09 regarding the duplicate-messages: that is taken care of by `aiocoap` our code doesnt have that much of an influence over that.
i am considering pro

[2021-01-14 08:34] kongo09 commented on #4
Good to hear back from you and thanks for bringing us that far! If there is anything we can do in the meantime to help you out, please let us know.

On a totally different side-note, I've developed a nice card interface to take advantage of your work:
https://community.home-assistant.io/t/lovelace-button-card/65981/4938?u=kongo09

[2021-01-14 12:39] arthurgeek commented on #4
Oh, I see. For me it always displays `100`. Is the `err`-number available as an attribute?

And thanks again for your work on this!

[2021-01-14 12:57] arthurgeek commented on #4
I also would like to add to @nicx point on remaining time for filter: making it human readable means it's harder to assign any automations to it (for example: be notified when filter needs change). if you're ok with it, I can try to add new attributes with remaining time in hours instead of human readable.

[2021-01-31 21:54] o0v7r0o commented on #11
@kongo09 it seems you can fix it by adjusting a regex a bit:
change L4 in `aioairctrl-shell.sh` to:
`aioairctrl=$(grep -Po '(?<=aioairctrl\s@\s)[^"]+(?=")' $manifest)`

[2021-01-31 22:54] o0v7r0o commented on #15
I just started digging into the code but my assumption is that the issue pops up when the 'server' (purifier) restarts, but 'client' (philips-airpurifier -> aioairctrl -> aiocoap) is not requesting a new observation.
Here are the  diagrams how it should look like:
https://tools.ietf.org/html/draft-ietf-core-observe-08#appendix-A

So ideally max-age should be taken into account and the client have

[2021-02-19 12:40] user897943 opened #16 "HACS integration"
The current integration on HACS does not work for 2889/10.

Could this please be integrated on HACS for easier installation and updating?

[2021-02-19 12:48] kongo09 commented on #16
What exactly do you mean with "does not work"? I do have a 2889/10 setup via HACS
![image](https://user-images.githubusercontent.com/640121/108506387-faab2080-72b8-11eb-86af-7504f80c10c0.png)
![image](https://user-images.githubusercontent.com/640121/108506441-131b3b00-72b9-11eb-8466-cd0958e60fe9.png)

[2021-02-19 12:51] user897943 commented on #16
Sorry, I mean the "default" one on HACS: xMrVizzy / philips-airpurifier does not work with the 2889/10.

I can see that you have this on HACS, could you please tell me how to add the repo? What URL do you use? I will try here. Thanks in advance

[2021-02-19 13:04] user897943 commented on #16
I added this to HACS, if someone's wondering how here's how I did it:

Open HACS, click on Integrations, on the top click on the three dots then click on custom repositories then paste the following URL into the Add custom repository URL field: https://github.com/betaboon/philips-airpurifier now select Integrations on the category dropdown and click add. Restart home assistant, configure the confi

[2021-02-19 13:04] #16 closed

[2021-02-23 13:44] riker09 commented on #14
Here's how I got on track: https://hacs.xyz/docs/faq/custom_repositories

But it took me about half an hour of intensive reading the documentation. 😅

[2021-02-24 06:49] riker09 commented on #6
It is a (built-in) feature, not a bug. You don't want to illuminate your whole bedroom at night, at least I don't. 🙂

Anyway, I've integrated my AC2889/10 with this custom component only yesterday. Biggest issue was the security setting in my WiFi that was set to WPA2/WPA3 and I had to downgrade it to WPA2 (CCMP) or the purifier wouldn't connect.

Can I help you with anything?

[2021-03-05 17:27] kongo09 opened #17 "'version' needs to be included in the manifest since HA 2021.3.1"
HA 2021.3.1 now requires that custom integrations have a version in the manifest. Currently, HA throws the following warning in the log:

This will lead to problems down the road.

[2021-03-05 18:04] ronaldt80 commented on #17
just add `"version": "0.1"` in the manifest.json file

[2021-03-07 11:38] kongo09 commented on #17
https://github.com/betaboon/philips-airpurifier/pull/18

[2021-03-09 02:28] zsawyer commented on #5
Unfortunately I am getting a time out.
I did manage to get a successful connection earlier when I was using https://github.com/xMrVizzy/philips-airpurifier but that dashboard card was not giving me modes to set and not recognizing the "Night" mode so I tried this repo.

# Setup
[code]

# Specs
## HA
Version | core-2021.3.2
Installation Type | Home Assistant Container

## HACS:
Installed Version |

[2021-03-14 18:04] kongo09 opened #19 "set_speed has been deprecated in fan"
The `fan.set_speed` service has been marked deprecated in HA:
https://www.home-assistant.io/integrations/fan/#deprecated-service-fanset_speed

I guess this needs to move to `fan.set_preset_mode`.

[2021-03-14 18:10] kongo09 commented on #19
@betaboon I know you're busy with other stuff. Unfortunately, I lack the skills to take over from you. Still, your work has been very valuable for many  users of Philips devices and it's sad to see the momentum go. Is there any hope that you return to your work here?

[2021-03-14 18:15] betaboon commented on #19
i can free some time to work on this.
PRs are always welcome. reproducable issues as well.
the biggest problem is the multitude of device-models that seem to behave slightly differently and i only have access to one model.

[2021-03-14 20:10] kongo09 commented on #19
Thanks. I've never done any python, but I can try for some simple PR.

[2021-03-16 09:14] spider7611 commented on #19
After last HA update can't turn on my Philips Airpurifier at all. :(
And the entity fan.philips_airpurifier unavailable. Please can you fix this?
Only this integration worked with my model: ac3858, but now stopped working.

[2021-03-17 06:48] riker09 commented on #19
The "error" is more of a warning that support will be dropped in the future. So the integration should still work. However, I have some issue with my AC2889 as well. After some time it just seems to stop working to the point that no further data like total runtime, remaining filter time, air quality, etc. is submitted. I can still set the device to different speeds, *EXCEPT* `sleep`. I can turn it

[2021-03-17 07:19] spider7611 commented on #19
This is true, after restart it is working again. Only get the error or warning message.

[2021-03-17 07:21] spider7611 commented on #13
Made script with backlight on and off. Then in automation can switch the backlight.

[2021-03-17 07:21] #13 closed

[2021-03-17 10:39] kongo09 commented on #19
I've tried my hand at a pull request #18 to solve the warning and keep this integration working.

@riker09 unfortunately, this integration is so far as good as it gets, but not 100% working. @betaboon did his/her best to get it going, but my feeling is, that the Philips implementation is sketchy.

[2021-03-17 10:50] betaboon commented on #2
closing as i think this is solved.
feel free to open a new issue if the problem arises again

[2021-03-17 10:50] #2 closed

[2021-03-17 10:51] betaboon commented on #19
i scheduled in some time to work on this today.
I'll try to get as many things adressed as possible :)

[2021-03-17 10:54] betaboon opened #20 "handle water-level properly"
when water runs out water-level reverts to `100` and an `err` is set.

[2021-03-17 10:55] betaboon commented on #20
relevant comments from #4

[2021-03-17 10:56] betaboon opened #21 "add machine-readable filter-times"
we're exposing filter-times as human readable.
multiple users have reported the need for machine-readable filter-times for better integration with automation.

[2021-03-17 10:57] betaboon commented on #21
relevant comments from #4

[2021-03-17 10:59] betaboon commented on #4
I'm closing this issue as the initial support for this model is working.

the water-level issue is reflected in #20
the machine-readable filter-time issue is reflected in #21

for any remaining issues that i overlooked please open new dedicated issues

[2021-03-17 10:59] #4 closed

[2021-03-17 11:02] betaboon commented on #5
I'm closing this issues as the initial support for this model is working.

@zsawyer please open a dedicated issue for your problem

@wolfhond @kongo09 i just enabled the `Discussions`-feature in this repo if you want to continue talking about integrating a card ;)

[2021-03-17 11:02] #5 closed

[2021-03-17 11:03] betaboon commented on #6
I'm closing this issue as the initial support for this model seems to be working.

if any new issues arise feel free to open new _dedicated_ issues

[2021-03-17 11:03] #6 closed

[2021-03-17 11:04] betaboon commented on #9
I'm closing this issue as the initial support for this model seems to be working.

if any new issues arise feel free to open new _dedicated_ issues

[2021-03-17 11:04] #9 closed

[2021-03-17 11:05] betaboon commented on #10
I'm closing this issue as the initial support for this model seems to be working.

if any new issues arise feel free to open new _dedicated_ issues

@mcshosho i noticed the same thing about `air_quality_index` being `4` on my device. seems like that is not realy being used

[2021-03-17 11:06] #10 closed

[2021-03-17 12:28] betaboon commented on #19
sadly https://github.com/denysdovhan/purifier-card didnt yet migrate to the new fan-model.
i opened an issue there denysdovhan/purifier-card#39

[2021-03-17 12:31] riker09 commented on #19
This is very great news. I don't have much free time to spent on improving my home automation system, let alone improving the components that I'm using. So thank you for the PR!

I appreciate the work done by @betaboon and all fellow contributers. I hope that my advise restarting Home Assistant was not taken in any negative way. This was not intended. I know that maintaining any Open Source Projec

[2021-03-17 12:41] betaboon commented on #19
@riker09

no offense taken. quite the opposite: It's always welcome that people help eachother

here the issue is two-fold:
i wouldn't expect the manufacturer to provide integrations for every home-automation system.
but i would expect the manufacturer to provide working interfaces to the devices that we buy and _own_.
and that's the biggest issue with the philips airpurifiers: the interfaces are

[2021-03-17 16:05] #19 closed

[2021-03-17 16:20] #21 closed

[2021-03-17 16:43] #20 closed

[2021-03-17 17:01] #14 closed

[2021-03-17 17:04] #17 closed

[2021-03-17 17:09] betaboon commented on #11
@kongo09 et al: i just released a new version which also might solve this issue.

if anyone has the time: please test and report back :)

[2021-03-17 17:13] betaboon commented on #21
@nicx @arthurgeek i just released a new version which includes the raw, machine-readable filter-times

[2021-03-17 17:15] betaboon commented on #12
@ludipq @barbatron i just released a new version which might also have solved this issue.

if you find the time please test and report back :)

[2021-03-17 17:25] betaboon opened #28 "reconnect after device has been powered off"
@o0v7r0o i just reproduced this and it indeed is a problem to be solved :)

[2021-03-17 17:43] ronaldt80 commented on #15
Wow.. you have been busy! Thanks! I will test tonight and let you know
after 24hrs running.

Ronald

On Wed, 17 Mar 2021, 18:21 betaboon, ***@***.***> wrote:

[2021-03-17 18:13] nicx commented on #21
@betaboon great, thanks a lot!

[2021-03-17 19:14] tunip commented on #15
Started testing now... will also report the next few days. Thx for your work!

[2021-03-18 08:32] tunip commented on #15
Tested it just now and it is not solved. Need to enable debug logging and provide logs later.

[2021-03-18 09:18] ronaldt80 commented on #15
Same conclusion.

On Thu, 18 Mar 2021, 09:32 tunip, ***@***.***> wrote:

[2021-03-18 09:21] betaboon commented on #15
thank you guys for testing. can you provide me with more comprehensive debug-logs ?

[2021-03-19 16:47] tunip commented on #15
@betaboon

Attached you will find my logs.

SWITCHING ON (Turning the switch in HA to on. Air Purifier is running, while the switch in HA goes back to off from alone):
[code]

SWITCHING OFF (Turning the switch in HA to on and immediately to off. Air Purifier is switching off):
[code]

[2021-03-19 17:38] betaboon commented on #15
@tunip thank you for the logs.

could you please provide logs with more "context" (aka logs before and after) ?
it seems like there is no status-update coming from the device.

it would be nice to have a log with like 1sec before 5secs after (in a gist)

[2021-03-19 17:54] ronaldt80 commented on #15
Mine just stopped working as well so should have a decent log file. Will
send in an hour or so.

Service calls still work but the purifier stopped pushing it's status to HA.

On Fri, 19 Mar 2021, 18:38 betaboon, ***@***.***> wrote:

[2021-03-19 18:24] tunip commented on #15
Maybe this is the issue... There are no log entries before and after I switch the device on and off (on/off).

[2021-03-19 19:14] betaboon commented on #15
@tunip can you try to using `aioairctrl` as described [here](https://github.com/betaboon/philips-airpurifier#prepare-the-environment) but run `aioairctrl -D -H $DEVICE_IP status-observe --json` and then fiddle around with the official app? just so we're sure the `observations` work at all

[2021-03-19 19:36] ronaldt80 commented on #15
Regular behavior observed in the log since 11pm 18 March (last HA restart), log is filled with regular "handshakes" this suddenly stops at 12.45pm CET (no error message in the log)

[code]

Schedule off automation through "service call"

[code]

Manual on/off command in HA (switch "flips" back)
[code]

[2021-03-19 19:39] ronaldt80 commented on #15
Happy to also try they aioairctrl command but I run HassOS - not sure how to run aioairctrl manually; tried through SSH cli but that does not work. Any tips?

[2021-03-19 20:20] betaboon commented on #15
you can just clone the repository on your local machine and run the stuff there :)

[2021-03-19 20:45] tunip commented on #15
@ronaldt80 I run the official Home Assistant docker container. I installed aioairctrl in /tmp inside the container. Will test later the "observations" with aioairctrl and the official app.

[2021-03-19 21:17] kongo09 commented on #11
aioairctrl seems to work again. There is an error when doing the `source` command, but in the end it looks ok:
[code]

[2021-03-19 21:18] #11 closed

[2021-03-19 21:38] kongo09 opened #29 "integration doesn't register attribute change of AC2729 even though aioairctrl does see it"
When issuing a service call to an AC2729 to disable the display backlight and setting the light brightness to zero, the device reacts and sets the lights correctly, but the integration doesn't catch the change and update the entity attributes.

Output of the debug log since start of HA with debugging enabled. The device in question is on 192.168.179.12
[code]

Attributes in the developer tools sho

[2021-03-20 08:55] tunip commented on #15
aioairctrl output

Using the "Clean Home+" app (ON/OF, Speeds, Light, Mode, etc.):
https://gist.github.com/tunip/bc85881a6306975b9cead2b28edf2639

Interval output (every few minutes) without manual action:
https://gist.github.com/tunip/87df2b14f9332b7e7f87923cb2b737b6

[2021-03-21 11:35] ludipq commented on #12
Looks like the update fixed it, but my logs are being spammed with this message every minute:

`
2021-03-21 11:33:14 WARNING (MainThread) [coap] Did not receive requested pktinfo ancdata on message from ('::ffff:192.168.30.18', 5683, 0, 0)`

[2021-03-21 22:39] user897943 commented on #15
I am having the issue too. Since comprehensive logs were provided above I won't capture any however just wanna say this affects another user.

[2021-03-24 18:47] eliogrin opened #31 "Server cannot connect to the AC2729/10 purifier."
Hi guys,
Please, can you help with issue which I faces with. I'm trying to add my AC2729/10 device to the home assistant but seems my server cannot reach it. And I cannot see any fan in my system. You can see the log below. HA and Philips in the same wifi network, mobile application working fine. Any ideas what it can be?

[2021-03-24 19:59] kongo09 commented on #31
Can you post your configuration yaml?

[2021-03-24 20:12] eliogrin commented on #31
yes, off course

Here's single line from configuration yaml:
`fan: !include devices/fan.yaml`

and fan.yaml:
[code]

Any ideas what it can be?

[2021-03-24 21:45] ronaldt80 commented on #31
How old is the purifier? Is it a pre 2020 model? If so it might be an http
one. Try another fork, for instance GeorgeSG's fork.

Ronald

On Wed, 24 Mar 2021, 21:12 Illia Grynov, ***@***.***> wrote:

[2021-03-25 00:53] GSzabados commented on #31
Maybe I am mistaken, but that shouldn't be `philips-airpurifier`    - and not _

[2021-03-25 10:04] eliogrin commented on #31
Thanks for suggestion, I changed plugin and it's start to work.

@betaboon maybe let's add this information to readme.md? Or you have plan to support HTTP protocol as well?

[2021-03-25 10:09] betaboon commented on #31
thank you guys for assisting each other so brilliantly :)

@eliogrin i have no plans of supporting http/other-protocols as there are working implementations for those.
i was considering renaming this integration to something like `philips_airpurifier_coap` to make it more explicit and prevent issues like these.

[2021-03-25 10:14] eliogrin commented on #31
@betaboon, thank you for your work to support this devices. I believe it's a good idea, so users will be able to use both integration if they will have few purifiers with different protocols. At least I have plan to buy another one with new protocol. Thanks!

[2021-03-25 10:14] #31 closed

[2021-03-25 10:21] betaboon commented on #29
@kongo09 sorry for the late response.

i have a hunch here. let me explain some context:
[code]
some of the philips devices just keep sending `MID 1` thus `aiocoap` identifies them as being a duplicate, not forwarding them to the application code.
IMHO this is a faulty implementation on the manufacturers side.

anyway... in the last release i added some monkey-patching code to `aioairctrl` to comp

[2021-03-25 10:26] betaboon opened #32 "rename integration to `philips-airpurifier-coap` to prevent mixups"
in order to prevent mixup with other, incompatible integrations i propose renaming this to `philips-airpurifier-coap`.

of course this would be a breaking-change, including the renaming of the integration, the repo and the key in the configuration.

i will not do this right now, but might in a future release.

if anyone is opposing this or has some suggestions or opinions on the issue, this is you

[2021-03-25 11:26] ronaldt80 commented on #32
I already renamed it like that in order to combine with the http variety.
Except for _ instead of - to be consistent.

All for!

On Thu, 25 Mar 2021, 11:26 betaboon, ***@***.***> wrote:

[2021-03-25 20:46] kongo09 commented on #29
In the manifest file you reference version 0.2.1 of aioairctrl but in your repository it says the latest release is 0.4.0?

When you say "manually remoe the dependency", do you mean removing this line from the manifest:
[code]

[2021-03-25 21:04] kongo09 commented on #29
Hm, I removed the manifest entry, rebooted HA, put it back and rebooted again but my feeling is this didn't change anything. So I'm not sure what you advise. I can make it into the docker container but then what?

[2021-03-25 21:21] kongo09 commented on #29
Hm, maybe I did the right thing - right now it seems to work. I'll watch it for a day or so and will report back.

[2021-03-29 11:05] kongo09 commented on #29
As you can see, I'm learning on the way...

[code]
Not sure if this version 0.0.0 is correct? Anyway, I manually removed it with:
[code]
Then restarting HA seems to have loaded a newer version 0.2.1
[code]
I'll keep watching the behaviour and will report back here.

[2021-03-29 11:07] betaboon commented on #29
@kongo09 sorry for not coming back to you.

yes that's exactly what i was talking about.
i am just buffled why the required version of the dependency does not get installed automatically

[2021-03-29 11:15] kongo09 commented on #29
No worries, I just have to creep up my own learning curve ;-)

Maybe the versioning 0.0.0 is something special? But I certainly have less clue than you have!

Anyway, right now both devices started working again. Let's see for how long that holds.

[2021-03-31 09:15] kongo09 commented on #29
I have watching the integration for two days now. Everything is working fine for the AC2729 and also the AC2889. Not a single warning or error in the log. Let's consider this solved.

@betaboon thanks so much for your work and effort!

[2021-03-31 09:15] #29 closed

[2021-03-31 09:22] betaboon opened #33 "aioairctrl dependency does not get installed properly"
on dependency update it is not ensured that the new dependency gets installed.
there have been situations where the old dependency-version was used which cause problems.

[2021-04-07 05:12] riker09 commented on #33
See #29

[2021-04-07 07:43] spider7611 opened #34 "Always get error message like: “…list index out of range” and can't control my purifier. Some days ago worked good."
Have problem with my philips air purifier. Before it was worked good. Now I see the purifier state but can’t control it. Always get error message like: “…list index out of range”
When I want to turn off get this message:

`Logger: homeassistant.components.websocket_api.http.connection
Source: custom_components/philips_airpurifier/fan.py:347
Integration: Home Assistant WebSocket API (documentation,

[2021-04-07 19:38] ToeiRei opened #35 "Light controls"
Can you please add a way to change the display brightness as it would make my life a bit easier when I'm able to automatically dim the display at night.

[2021-04-07 19:51] kongo09 commented on #35
This does exist already. Here is my script that I use to do this for my devices:
[code]

[2021-04-07 19:55] ToeiRei commented on #35
Thanks a ton. I was looking at service calls but couldn't find anything useful.

[2021-04-07 20:03] kongo09 commented on #35
Well, there are service calls, two to be precise:
[code]
I just packaged it into a script for myself to have it handy for more than one device and also use it from the interface and from automations more easily.

[2021-04-07 20:06] ToeiRei commented on #35
Thanks! I guess I was just blind. Works like a charm if you do it right (tm)

[2021-04-07 20:07] ronaldt80 commented on #33
anyone else upgraded to 2021.04? I just completed the upgrade and now out of the blue get the following error:

`Platform error fan.philips_airpurifier_coap - No module named 'aioairctrl'
`
No clue what causes this, so far I have never had an issue with aioairctrl

[2021-04-07 20:16] kongo09 commented on #33
Haven't upgraded yet but will report back here...

[2021-04-07 20:31] ronaldt80 commented on #33
interesting, whilst a reload of core does not solve this; a full reboot of hass os does do the trick.

[2021-04-07 21:23] kongo09 commented on #35
I have added PR #36  to make the available services more obvious.

[2021-04-07 21:24] ToeiRei commented on #35
I was poking around on fan.philips_airpurifier instead of philips_airpurifier

[2021-04-07 21:25] #35 closed

[2021-04-07 23:16] kongo09 commented on #33
also upgraded to 2021.04. Quite painful as the database migration takes a long time during which not much is working (at least for me). On a Raspi 4 I had to wait over 30mins for stuff to settle down. After that, this integration worked normally. No error for me without full reboot.

[2021-04-09 06:40] spider7611 commented on #34
After the last HA update it is working again. ;)

[2021-04-09 06:40] #34 closed

[2021-04-12 18:19] kolomiichenko commented on #15
same problem on ac2729

[2021-04-13 09:06] betaboon commented on #15
hey guys. I'm sorry but currently i dont have the time to look further into it.
I'll try to find some time in the future ;)

[2021-04-13 09:35] Steltek opened #38 "New purifier model: AC2939"
Hello,

Here's the raw data for my purifier model AC2939/10 (powered off):

`{"name": "AC2939", "type": "AC2939", "modelid": "AC2939/10", "swversion": "Ms2102", "language": "EN", "DeviceVersion": "1.0.2", "om": "0", "pwr": "0", "cl": false, "aqil": 100, "uil": "1", "uaset": "P", "mode": "AG", "pm25": 4, "iaql": 1, "aqit": 4, "tvoc": 1, "ddp": "1", "rddp": "1", "err": 0, "fltt1": "A3", "fltt2": "no

[2021-04-17 08:25] #38 closed

[2021-04-17 08:30] betaboon commented on #32
merged and released as 0.5.0
i also renamed the repo.

[2021-04-17 08:30] #32 closed

[2021-04-17 22:47] SgtZapper opened #41 "Setting preset not working for non numeric preset on ac1214"
Noticed that setting speed 1,2,3 works but no other preset on the AC1214/10.

I'm running on:
Home Assistant OS 5.13
supervisor-2021.04.0
core-2021.4.5

Got it to work by crudely changing the async_set_preset_mode method in fan.py to the code below so that it sets the data individually.
I looked in the client and see no real reason the original commented code should not work. (I'm bad with python

[2021-04-25 20:58] kongo09 commented on #29
Just a quick note: the device again showed some signs of not communicating right with the integration, resulting in attributes being wrong. To exclude the obvious, I've re-verified that I am still on v0.2.1 of aioairctrl. I have no re-enabled logging and will keep watching this.

[2021-05-01 01:06] psxx opened #44 "New Model: Philips AirPurifier AC3033/30 (3000i Series)"
**SUMMARY**
Philips AirPurifier AC3033/30 (3000i Series)

It has Auto, Turbo, Sleep, Speed 1, and Speed 2 modes.
It has light which could be turn on/off.

**RAW**
Turned Off:
[code]

Auto Mode:
[code]

Turbo Mode:
[code]

Sleep Mode:
[code]

Speed 1:
[code]

Speed 2:
[code]

Light could be controlled as well,
Auto Mode with light turned off:
[code]

[2021-05-01 07:44] betaboon commented on #44
hello @psxx,
thanks for providing the example-data.

would you be willing to try your hand at a PR?

[2021-05-01 10:52] psxx commented on #44
Hello,

Done in PR https://github.com/betaboon/philips-airpurifier-coap/pull/45

[2021-05-02 12:06] betaboon commented on #44
merged and released.
thank you.

[2021-05-02 12:06] #44 closed

[2021-05-06 11:27] M-underscore-at opened #46 "AC3259 Support"
Hi - I've added AC3259 support by copying the 2889 config - seems to be working nicely.

Would be good if similar can be done to the repo :)

(.venv) ubuntu@primary:~/tmp/philips-airpurifier$ aioairctrl --host 192.168.1.70 status --json
{"name": "Kitchen", "type": "AC3259", "modelid": "AC3259/60", "swversion": "9.1.0", "om": "1", "pwr": "1", "cl": false, "aqil": 100, "uil": "1", "dt": 0, "dtrs": 0

[2021-05-06 15:40] pasce commented on #15
just curious: does anyone already know why this could happen?

[2021-05-11 06:09] riker09 commented on #46
I'm not the maintainer, but if you'd provide your changes as a pull request they would be accepted faster since time is a valuable resource and since you already did the work this would only seem logical.

[2021-05-11 06:47] betaboon commented on #46
@riker09 thanks for chipping in :)

@M-underscore-at if would be great if you would be willing to try your hand at a PR. recently there have been some that you can look at for guidance :)

[2021-05-12 13:35] jplabcpt opened #49 "Unable to"
My model is not supported and while trying to "Prepare the Environment", I get the following error after following the steps.

[code]

Any suggestions on how to proceed?

[2021-05-12 13:41] betaboon commented on #49
can you give some more context about the system you are using? os, shell, python-version etc

tbh that script initially was just a quick hack.

[2021-05-12 14:06] jplabcpt commented on #49
Running from Mac on terminal with Python 3.9.4

[2021-05-12 14:13] betaboon commented on #49
i bet the `sed`-expression in the script doesnt work properly on macos:
https://github.com/betaboon/philips-airpurifier-coap/blob/master/aioairctrl-shell.sh#L4

so either:
- try finding a regex that works for macos as well (i have no way of testing that, i dont own a mac)

or:
- you do manually what the script does:
[code]

[2021-05-13 15:10] smhagit commented on #15
I've also bought a Philips (AC2889/10; swversion:1.0.7; AWS_Philips_AIR@62.1).

The integration stops sending data after about 50 to 70 hours but will still react to commands like turning on or control the fan.
After restarting the HA Core, the data comes in again immediately and it runs for the next few days.

I ran Homeassistant on a Raspberry and executed the following command in the homeassist

[2021-05-13 17:13] kongo09 commented on #15
The describes pretty much what I observe with my two devices. Strange thing is, after all the work of @betaboon including his monkeycode fixing of the upstream python library for coap, the devices used to work without a problem. Now they just stopped, but a reboot of HA fixes this. I've now set HA to reboot automatically every night. Surely not a nice workaround.

[2021-05-14 07:51] networkpotato commented on #12
Still getting this log spam after upgrading to latest version

[2021-06-14 13:56] SamJongenelen commented on #41
I have the same model and same issue;  setting int value works but string doesn't

[2021-06-15 08:51] SamJongenelen commented on #28
+1 here. When the device is offline on HA startup, the following logging is produced:

[2021-06-22 04:30] GSzabados commented on #28
It would be really great if this could be fixed. I had recently a power outage. Everything comes back on without any issue, but the air purifier. For that, I have to restart HA.

Any idea how to solve this?

[2021-06-24 08:30] allmoney opened #53 "No water_level in Attributes for AC3829/50 model"
I have AC3829 and AC2729 models.

AC2729/50 has water_level:
![image](https://user-images.githubusercontent.com/939594/123229908-69a2bb00-d4df-11eb-9109-8981bb2bd032.png)

AC3829/50 not:
![image](https://user-images.githubusercontent.com/939594/123230081-8e972e00-d4df-11eb-9ed7-02dacf0a8049.png)

Can you fix it?

[2021-07-02 06:34] tebra-jl commented on #53
Same problem at my side. Water level attribute stays at 100 all the time.
model_id: AC2729/10
software_version: 0.2.1
wifi_version: AWS_Philips_AIR@62.1
Philips AirPurifier (with CoAP) HACS: 0.7.0

[2021-07-02 15:53] allmoney commented on #53
I tested models AC2729/50 - it has only 2 values: 0 and 100. I think it's not a bug.
The bug only that in AC3829/50 no attribute water_level (as I described in 1st message).

[2021-07-07 01:06] GSzabados commented on #28
Has any of you tried any of the methods what is in this topic?

https://community.home-assistant.io/t/add-service-integration-reload/231940

Either a service call of:

homeassistant.reload_config_entry

But for this a config entry would be required, what is currently not part of the integration.

Or maybe just a service call to:

homeassistant.update_entity

[2021-07-07 07:52] SamJongenelen commented on #28
Ah, you're trying a workaround for the _unavailable_ by reloading the integration via a service call. Could work yes

[2021-07-07 07:58] GSzabados commented on #28
The purifier is not on a UPS, so it is loosing power during an outage. When the power is restored, to get it work, I have to restart HA, what I would like to avoid.

Unfortunately I cannot test the idea, as I don't have access to the power plug of the purifier. And fortunately haven't had any outages for the last week. 😆

[2021-07-07 21:48] riker09 opened #54 "Support new entity select type"
This is fresh out of the oven: https://www.home-assistant.io/blog/2021/07/07/release-20217/#new-entity-select

It feels like this is something this extension should support (if not already)

[2021-07-12 22:14] tebra-jl commented on #53
Maybe it is a different issue but with AC2729/10 water_level stay at 100 even when the tank is empty.

[2021-07-13 03:39] GSzabados commented on #28
Actually there was an outage this morning, so I could try the update_entity option. And it is not working as the entity hasn't got a unique id, as it was set up through the configuration.yaml. So it cannot make a service call.

[2021-07-15 21:19] SamJongenelen commented on #28
Ok, you might want to set the `unique_id`, right?

[2021-08-08 10:34] MSOHD commented on #41
I also have that problem. But sadly your fix doesn't help me at all. Do I have to pay attention to something special? Can you please show your whole fan.py ? That would help me a lot :)

[2021-09-13 20:31] SgtZapper commented on #41
I might have ran HACS and deleted my changes and my purifier is in for service atm (it started showing high values then it was dead) so I have nothing to test against. Will test when I get it back. But I'm sure my solution was a permanent one.

[2021-10-11 16:05] zeekens opened #59 "Install link still points to old name"
Had to change
https://github.com/betaboon/philips-airpurifier.git to
https://github.com/betaboon/philips-airpurifier-coap.git to get it to load as a custom rep.

[2021-10-13 22:02] SamJongenelen commented on #28
I tested this pr version and it reconnects

[2021-10-13 22:09] GSzabados commented on #28
What is your case requiring the reconnect? Is it power outage or just loosing connection?

Just asking because there are two issues regarding loosing connection.

One is the power outages what could be solved by adding a unique_id and calling the service to restart the integration.
The other one is a firmware related issue what might have a solution in the aioairctrl repository as a PR.

[2021-10-13 22:12] SamJongenelen commented on #28
Power conservation; i disable parts of the home conditionally using sonoffs.

[2021-12-12 18:12] user897943 opened #63 "Abandoned? HA now complaining that this is reporting a value that it shouldn't (post 2021.12 update)"
[code]

[2021-12-12 18:15] user897943 commented on #63
Also getting this on the logs:

[code]

[2021-12-16 08:35] oat1 opened #64 "Addon is cosing tradfri problem: Unable to import component after 2021.12"
The problem
At startup, HA is unable to import tradfri component 'TimeoutError' from 'aiocoap.error'.
Integration not loaded.

What version of Home Assistant Core has the issue?
core-2021.12.0

What was the last working version of Home Assistant Core?
core-2021.11.5

What type of installation are you running?
Home Assistant OS

LOG:

2021-12-11 22:55:09 ERROR (MainThread) [homeassistant.setup] Set

[2021-12-16 08:37] kongo09 commented on #64
Is this a problem of tradfri or philips-airpurifier-coap?

[2021-12-16 08:44] oat1 commented on #64
philips-airpurifier-coap, makes tradfri component not loading at all.

After uninstalling philips-airpurifier-coap, and installing core-2021.12.2 problem disappears.

But when you install the addon again after, the problem cames back.

[2021-12-16 08:51] kongo09 commented on #64
At the moment, this integration is not actively maintained anymore, so don't expect any quick resolution.

But could you still be so kind to post some longer log to show how tradfri is complaining and not loading in the context of this integration here? Anything beyond the original log entry?

[2021-12-16 08:54] kongo09 commented on #64
You could also try a slightly modified fork and report back, of that solves your problem:

https://github.com/ronaldt80/philips-airpurifier

[2021-12-16 08:57] oat1 commented on #64
Thanks for the info,
I do not have any longer logs.
The thing is that tradfri does not start at all at the system so it is baisicly just the log from the boot.

[2021-12-16 09:15] oat1 commented on #64
Thanks for the info,
I tried https://github.com/ronaldt80/philips-airpurifier problem is the same

I cannot post longer logs because tradfir does not load at all when the system starts, so it is just this one line

[2021-12-18 23:42] Steltek commented on #63
Yeah, looks like that class was deprecated:
http://dev-docs.home-assistant.io/en/master/api/helpers.html#homeassistant.helpers.entity.Entity.device_state_attributes

I'm no dev but it seems the fix is to replace device_state_attributes by extra_state_attributes in fan.py.

[2021-12-22 15:47] JuhaFIN1 opened #66 "Entity fan.philips_airpurifier (<class 'custom_components.philips_airpurifier_coap.fan.PhilipsAC2729'>) implements device_state_attributes."
Logger: homeassistant.helpers.entity
Source: helpers/entity.py:549
First occurred: 17:33:07 (1 occurrences)
Last logged: 17:33:07

Entity fan.philips_airpurifier (<class 'custom_components.philips_airpurifier_coap.fan.PhilipsAC2729'>) implements device_state_attributes. Please report it to the custom component author.

[2021-12-27 18:28] ghost opened #68 "Would it be possible to make this an official HA integration?"
Also trying with the other forks: Would it be possible to make this an official HA integration? So more people can enjoy this? https://developers.home-assistant.io/
(Just bought an Philips AC3829 because i'm so damn allergic to dust)
Would be great since the purifiers a really a missing gap in HA. :-)

[2021-12-27 18:45] kongo09 commented on #68
Well, in any case, this would require some more or less permanent maintainers. @betaboon has gone silent some time ago, so we have to assume that (s)he doesn't have time anymore to work on this. Unfortunately, there doesn't seem to be anyone on the horizon with enough Python skills to take over.

[2021-12-28 18:19] ghost commented on #68
Ah, oke!

[2021-12-28 18:19] #68 closed, assigned to nobody

[2022-01-08 21:52] Steltek commented on #66
Duplicate of #63

[2022-01-17 08:00] joe-sydney opened #69 "aioairctrl command line parameters"
Hi all, I've been able to get the status of my air purifier with aioairctrl albeit sometimes after a long delay, and sometimes with a failure:
 aioairctrl  -H 192.168.1.1 status

In the meantime while this component gets fixed comprehensively, I wanted to see if I can control the air purifier with command line using "set",
eg aioairctrl  -H 192.168.1.1 set K=V

However, I have not been able to fin

[2022-01-17 12:11] #69 closed, assigned to nobody

[2022-02-04 12:44] MrMEScott opened #70 "Setup error: No request interface could route message"
I have a Philips ac2889 which I'm trying to integrate to Home Assistant. I have Home Assistant 2022.2.1 running in a Docker container on a Raspberry Pi4. I added the custom integration, and I've added the following to my configuration (as an include under "fan:")
[code]
I get this error when I restart HA:
[code]
Any suggestions?

[2022-02-04 13:17] ronaldt80 commented on #70
Which year did you buy the 2889? There are a couple of versions which operate either on http or coap encrypted. You could try an http version of this integration.

Also double check your ha instance can reach the Purifier entity, EG no firewall rules.

Sent from ProtonMail mobile

-------- Original Message --------
On 4 Feb 2022, 13:45, MrMEScott wrote:

[2022-02-04 13:55] MrMEScott commented on #70
The air filter is on the same network as the HA server, and it's definitely a coap device: I have a couple of scripts that I use to control it via the pyairctrl package's coap interface, but I find them to be rather flaky (often doesn't respond). So I'm hoping that I can get more reliable results with this package.

[2022-02-04 14:02] ronaldt80 commented on #70
There have been some issues with the new fw of Philips lately. Be sure to use the right repo/ make the required changes to manifest. My repo is up to date, I think kongo09 is also up to date.

Also, if you use HassOS a reboot of the host may be required to load the dependencies, don't ask me why but for me that has made the difference at times

Sent from ProtonMail mobile

-------- Original Messag

[2022-02-04 14:39] kongo09 commented on #70
Unfortunately, the integration is not maintained at the moment. There have been a few patches that I tried to pull together on my fork, please try that.

However, the experience will be flaky at best since the new firmware by Phillips.

[2022-02-04 15:29] MrMEScott commented on #70
I tried using kongo09's fork, but I get same error message. It looks to me like the issue is in the aiocoap package, rather than the air purifier code - it's not able to contact the device. I reloaded the aiocoap package in the Docker container, made no difference. I haven't time to go further with this right now, but I'll leave this issue open in case anyone is able to reproduce and/or fix.

[2022-03-02 15:08] daniel1v opened #71 "component does not load"
Hi,

I am having an trouble while setting up the integration.

Here is my config.yaml:

[code]

Here is the log.

[code]

It seems like the integration is stuck forever after the last line. Nothing else happens then and Home Assistant reports the component needing longer than 60 seconds to start up.

Any ideas?

Thank you in advance

[2022-03-29 12:59] QK-sampson opened #72 "Model AC2936/33 is supported"
Big thanks for your contribution!
My air purifier model_id: AC2936/33 can be controlled using this integration but there is a error log.

Logger: homeassistant.helpers.entity
Source: helpers/entity.py:601
First occurred: 20:41:18 (1 occurrences)
Last logged: 20:41:18

Entity fan.philips_airpurifier (<class 'custom_components.philips_airpurifier_coap.fan.PhilipsAC2939'>) implements device_state_att

[2022-03-29 14:35] kongo09 commented on #72
Unfortunately, betaboon doesn't seem to have time right now to fix this. There area number of forks that have addressed this problem. You can take a look at mine if you like.

[2022-04-01 12:44] QK-sampson commented on #72
Thank you for your information.

[2022-04-07 19:25] kongo09 commented on #72
I've just released a rewrite including model AC2936. Please try it out and let me know if it works.
https://github.com/kongo09/philips-airpurifier-coap

[2022-04-07 19:25] kongo09 commented on #71
This is most probably due to the CoAP communication breaking down. The problem is known but there is no known fix, really.

[2022-04-07 19:26] kongo09 commented on #66
I've fixed this in my rewrite: https://github.com/kongo09/philips-airpurifier-coap

[2022-04-07 19:27] kongo09 commented on #63
I've fixed this in my rewrite: https://github.com/kongo09/philips-airpurifier-coap

[2022-04-07 19:28] kongo09 commented on #54
I've supported this in my rewrite: https://github.com/kongo09/philips-airpurifier-coap

[2022-04-07 19:34] kongo09 commented on #53
As @betaboon is not active on the air purifier anymore, I've done a rewrite here: I've fixed this in my rewrite: https://github.com/kongo09/philips-airpurifier-coap

The new code looks at the response of the device and shows the water level as a sensor if the data field is part of the response. I have a 2729 myself and it shows 0 right now as the tank is empty. I feel, this is working. For AC3829

[2022-04-07 19:36] kongo09 commented on #49
@jplab1983 is your model working now? Which model do you have?

[2022-04-07 19:43] kongo09 commented on #46
@M-underscore-at I don't see your pull request. Does your device have the same functionality as the AC2889? If so, I'm happy to put it into my rewrite so that you can try: https://github.com/kongo09/philips-airpurifier-coap

[2022-04-07 19:57] kongo09 commented on #41
I've tried my hand at a rewrite. Please let me know if that works for you.

[2022-04-08 06:53] tebra-jl commented on #53
@kongo09 Thanks, I will try your new version of this integration and let you know.

[2022-04-09 09:58] kongo09 commented on #46
it will be part of upcoming v0.9.2

[2022-04-17 04:17] QK-sampson commented on #72
Thank you for your effort!!
I have just installed your version and the "auto" integration is much better than the original one. It is a very good for people who are not good at coding (I am not good at coding / programing).

I will observe and test the program for a period of time.

Thanks again !

[2022-05-08 14:25] piotrstanowicz opened #73 "Additional parameters disappeared after upgrading HA to version 2022.5"
Model: AC2729/50.
![image](https://user-images.githubusercontent.com/1693530/167300812-2007db10-26a9-411b-b421-45ef98f728d0.png)

[2022-05-09 11:51] allmoney commented on #73
Same problem :(

![image](https://user-images.githubusercontent.com/939594/167404256-1967dd52-cc9f-415f-9c34-b5f1f8c2f8f9.png)

[2022-05-09 12:14] kongo09 commented on #73
I cannot confirm this on my side, running HA 2022.5.2

![image](https://user-images.githubusercontent.com/640121/167407438-5436633e-c3b8-4050-9bd0-656c01f1e0bc.png)

[2022-05-09 12:15] kongo09 commented on #73
please try the new version of this integration:

https://github.com/kongo09/philips-airpurifier-coap

[2022-05-09 14:58] piotrstanowicz commented on #73
This integration works great! Thank you.

[2022-05-09 15:02] kongo09 commented on #73
Well, it suffers from similar challenges, especially concerning connectivity, as @betaboon 's integration. At it's heart, it builds on his work.